<!DOCTYPE html>
<html>
<html lang="en">

<head>
  <title>Optie RSVP</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="../styles/layout.css" type="text/css">
  <script type="text/javascript" src="/scripts/moviment.js"></script>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left">OPTIE</a>
    </div>
  </nav>
  <div class="wrap">
    <div class="bg"></div>
      <div class="container">
        <p>You have been invited by <strong><%= user.user_name %></strong> to:</p>
        <h2><%= event.event_title %></h2>
        <p class="break">Meeting Point:</p>
        <h3><%= event.event_meeting %></h3>
        <p class="break">Description:</p>
        <p class="desc">
        <%= event.event_description %>
        </p>
        <h4>RSVP:</h4>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">Full Name:</label>
              </div>
              <div class="input-field col s6">
                <input id="email" type="email" class="validate">
                <label for="email">Email:</label>
              </div>
          </div>
          <div>
            <p>Your Avalibility</p>
             <% for(const slot of slots) { %>
            <p>
            <input type="checkbox" class="filled-in" id="filled-in-box-<%= slot.id %>" />
            <label for="filled-in-box-<%= slot.id %>">
                <%= slot_date %> ( <%= slot.slot_start %> - <%= slot.slot_end %> ) - <strong>0 Votes</strong></label>
            </p>
            <% }; %>
              <a href="file:///Users/Stewart/lighthouse/optie/public/views/index.html#" id="create" class="waves-effect waves-light btn right" type="submit" action="/vote">Share RSVP</a>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
